* {
    font-family: Helvetica;
}
html{
    height: 100% !important;
}
body {
    min-height: 100% !important;
    height: 100% !important;
    padding-bottom: 0px;
}
a {
    color: black;
}
.navbar{
    position: absolute;
    padding-left: 10%;
    padding-right: 20%;
    background-color: #1D2124 !important;
}
.subtitle{
    font-weight: 400;
    font-size: 0.5em;
}
.form-inline{
    flex-flow: row !important;
}
.main {
    min-height: 100%;
    padding-bottom: 30px;
}
.container {
    min-height: 100% !important;
}
.jumbotron {
    color: #000000;
    text-align: center;
    background-color: transparent;
    padding-top: 100px;
    margin: 0px;
}
.bg {
    background: url("../img/vikings.jpg") no-repeat center center;
    opacity: 0.65;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.title-border {
    border-left: 3px solid #343a40;
    padding: 0.4rem 1rem;
    margin-bottom: 1rem;
}
.card-spacing {
    width: 12rem;
    margin-bottom: 0.5rem;
    margin-right: 10px;
}
.show-title {
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica;
}

.form-row {
    padding: 5px;
}
footer {
    height: 75px;
    position: absolute;
    right: 0;
    left: 0px;
    z-index: -1;
    background-color: #1D2124;
    text-align: center;
    padding: 25px;
}

/*
html, body{
margin: 0;
padding: 0;
}
body{

heighth: 100%;
overflow-y: auto;
}

html{
height: calc(100% - 32px); -32px si hay margin top.
}
.wrapper{
position: relative;
min-height: 100%;
}
.main{
padding-bottom: 55px; altura footer
}
.footer{
width:100%;
height: 55px;
position: absolute;
bottom:0;
left:0;
}

wrapper > (home > main > footer)

 */
