{% include 'cinema/nav.html' %}

<div class="container">
    <h1>All movies</h1>
    {% if movie_list %}
    <div class="row">
        <div class="row col-md-10 col-sm-10">
            {% for movie in movie_list %}
            <div class="card" style="width: 15rem; margin: 0.5rem 0.5rem;">
                <div class="card-body">
                    <p class="card-title" style="font-size: 28px; font-weight: bold; font-family: Helvetica;">
                        {{ movie.name }}
                    </p>
                    <span><b>Director:</b> {{ movie.director }}</span><br>
                    <span><b>Genre:</b> {{ movie.director }}</span><br>
                    <span><b>Aired:</b> {{ movie.aired }}</span><br>
                    <span><b>Duration:</b> {{ movie.duration }}</span><br>
                    <span><b>Price:</b> {{ movie.price }}</span><br>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

</body>
</html>