{% include 'cinema/nav.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>New Movie</h1>
                <form action="{% url 'create_movie' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-8 mb-8">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Name" required>
                        </div>

                        <div class="col-md-2 mb-2">
                            <label for="genre">Genre</label>
                            <input type="text" class="form-control" name="genre" placeholder="Genre" required>
                        </div>

                        <div class="col-md-2 mb-2">
                            <label for="director">Director</label>
                            <input type="text" class="form-control" name="director" placeholder="Director" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-12">
                            <label for="synopsis">Synopsis</label>
                            <textarea rows="7" class="form-control" name="synopsis" placeholder="Synopsis" required>
                            </textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-4 mb-4">
                            <label for="aired">Aired</label>
                            <input type="date" class="form-control" name="aired" placeholder="Aired" required>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="duration">Duration</label>
                            <input type="number" class="form-control" name="duration" placeholder="Duration" required>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" name="price" placeholder="Price" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-10 mb-10">
                            <input class="btn btn-info" type="submit" value="Create movie" style="margin-top: 20px">
                        </div>
                    </div>
                </form>
                <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
</div>
</div>