{% include 'cinema/nav.html' %}

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
<a class="btn btn-info" href="{% url 'new_movie' %}" style="margin-bottom: 10px;">Create movie</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Genre</th>
                <th>Director</th>
                <th>Synopsis</th>
                <th>Aired</th>
                <th>Duration</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movie_list %}
            <tr>
                <td>{{ movie.id  }}</td>
                <td>{{ movie.name }}</td>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.synopsis }}</td>
                <td>{{ movie.aired }}</td>
                <td>{{ movie.duration }}</td>
                <td>{{ movie.price }}</td>
                <td><a class="btn btn-danger" href="{% url 'delete_movie' movie.id %}">Delete movie</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
</div>
</div>